@model TrailTracker.Models.TrailsInfoDetail

@{
    ViewBag.Title = "Details";
}
<div class="view-background-4">
    <div class="view-background-5">
        <div class="view-background-3">
            <h4>Details</h4>

            <div>
                <h4></h4>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TrailInfoID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailInfoID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rating)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Rating)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailComments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailComments)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NoteableSites)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NoteableSites)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUtc)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.TrailInfoID }, new { @class = "buttonWhiteView" })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "buttonWhiteView" })
            </p>
        </div>
    </div>
</div>
