@model TrailTracker.Models.TrailMeetDetail

@{
    ViewBag.Title = "Delete";
}
<div class="view-background-4">
    <div class="view-background-5">
        <div class="view-background-3">
            <h4>Delete</h4>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4></h4>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TrailMeetID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailMeetID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OfTrailType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OfTrailType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MeetTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MeetTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MeetComments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MeetComments)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUtc)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="buttonRed" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "buttonWhiteView" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>