@model TrailTracker.Models.TrailMeetDetail

@{
    ViewBag.Title = "Details";
}
<div class="view-background-4">
    <div class="view-background-5">
        <div class="view-background-3">
            <h4>Details</h4>

            <div>
                <h4></h4>
                <br />
                <dl class="dl-horizontal">
                    @if (Model.Files.Any(ff => ff.FileType == TrailTracker.Data.FileType.Picture))
                    {
                        <dt>
                            Trail Photo
                        </dt>
                        <dd>
                            <img src="~/File?id=@Model.Files.First(f => f.FileType == TrailTracker.Data.FileType.Picture).PhotoId" alt="avatar" />
                        </dd>
                    }

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailMeetID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailMeetID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OfTrailType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OfTrailType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MeetTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MeetTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MeetComments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MeetComments)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUtc)
                    </dd>

                </dl>
            </div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "buttonWhiteView" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.TrailMeetID }, new { @class = "buttonWhiteView" })
            <style>
                img {
                    max-height: 25%;
                    max-width: 25%;
                }
            </style>
        </div>
    </div>
</div>