@model TrailTracker.Models.TrailDetail

@{
    ViewBag.Title = "Delete";
}
<div class="view-background-2">
    <div class="view-background-1">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>TrailDetail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TrailTrackerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrailTrackerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TrailName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TrailName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Miles)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Miles)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Difficulty)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SpotsAvailable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpotsAvailable)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AverageTimeMinutes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AverageTimeMinutes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedUtc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedUtc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedUtc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedUtc)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="buttonWhite" /> 
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "buttonWhite" })
                </div>
            }
        </div>
    </div>
</div>