@model TrailTracker.Models.TrailDetail

@{
    ViewBag.Title = "Details";
}
<div class="view-background-4">
    <div class="view-background-5">
        <div class="view-background-3">
            <h4>Details</h4>

            <div class="Detail-View">
                <h4></h4>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TrailTrackerID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailTrackerID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrailName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrailName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Miles)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Miles)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Difficulty)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Difficulty)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SpotsAvailable)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpotsAvailable)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AverageTimeMinutes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AverageTimeMinutes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUtc)
                    </dd>

                </dl>
            </div>
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "buttonWhiteView" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "buttonWhiteView" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.TrailTrackerID }, new { @class = "buttonWhiteView" })
        </div>
    </div>
</div>
